* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* HEADER START */

#header {
    
    background-size: 100% 100%;
    ;
    background-color: #f4f9f4;

}

.nav {
   
    background-color: #6c9894;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.navbar .logo {
    width: 10%;
    background-color: #a7d7c5;
}

.nav .list {
    color: #444444;

}

.navbar .list .navlist {
    display: inline-block;
    margin: 0 20px;
    list-style: none;
}

#icon {
    display: none;
}

.list .navlist .navlink {
    text-decoration: none;
    font-size: clamp(14px, 3.4vw, 21px);
    letter-spacing: 0px;
    text-transform: uppercase;
    font-family: "Baloo Bhai";
}

.row {
   
    display: flex;
    

}

.col-1 {

    background-size: 100% 100%;
    width: 50%;
    


}


.col-2 {

    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    text-align: center;
    padding: 250px 0px;
}

.col-2 .h2-col {
   
    font-size: clamp(20px, 6.7vw, 60px);
    color: #6c9894;
    font-family: "Baloo Bhai";

}

.col-2 .p-col {

    padding: 20px 0px;
    width: 60%;
    font-size: clamp(18px, 4.0vw, 15px);
    color: #6c9894;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;

}

.col-2 .btn-col {

    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    font-size: clamp(1px, 3.4vw, 17px);
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fefefc;
    font-weight: 700;
    font-family: "Lato";
    background-color: #6c9894;
}

/* HEADER END */

/* SECTION START */

#classes {
    padding: 30px 0;
    background-color: #417d78;
}

/* .our-text {} */

.our-text .h2-text {
    padding: 50px 0;
    font-size: clamp(20px, 6.7vw, 75px);
    color: #f4f9f4;
    font-family: "Baloo Bhai";
    text-align: center;
}

.our-text .p-text {
    
    width: 62%;
    font-size: clamp(14px, 3.4vw, 30px);
    color: #f4f9f4;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    margin: 0 auto;
}

#classes .row-1 {

    display: flex;


}

#classes .row-1 .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px 0;
    width: 33.33%;
}

.col .our-img {

    background-repeat: no-repeat;
}

.col .our-h4 {
    padding: 20px 0;
    font-size: clamp(14px, 3.4vw, 37px);
    color: #f4f9f4;
    font-family: "Baloo Bhai";
    text-align: center
}

.col .our-p {

    width: 70%;
    font-size: clamp(14px, 3.4vw, 22px);
    color: #f4f9f4;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

#stats {
    padding: 60px 0;
    background-image: url(/images/Background.png);
    background-repeat: no-repeat;
    background-size: auto;
}

/* .our-stats {} */

.our-stats .h2-stats {
    padding: 50px 0;
    font-size: clamp(20px, 6.7vw, 75px);
    color: #6c9894;
    font-family: "Baloo Bhai";
    text-align: center
}

.our-stats .p-stats {
    
    width: 62%;
    font-size: clamp(14px, 3.4vw, 30px);
    color: #6c9894;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    margin: 0 auto;
}

#stats .stats-row {

    display: flex;
}

.stats-row .stats-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 150px 0;
    width: 33.33%;
}

.stats-col .h3-stats {

    font-size: clamp(20px, 6.7vw, 67px);
    color: #6c9894;
    font-family: "Myriad Pro";
    text-align: center;
}

.stats-col .p-stat {
    
    width: 70%;
    font-size: clamp(14px, 3.4vw, 27px);
    color: #6c9894;
    font-family: "Myriad Pro";
    text-align: center;
}



#card .card-row {

    display: flex;

}

.card-row .card-col {

    width: 50%;
    background-color: #6c9894;
}

.card-col1 {
    padding: 10px 0;
}

.card-col .h2-card {
    
    margin-top: 100px;
    margin-left: 50px;
    font-size: clamp(20px, 6.7vw, 75px);
    color: #f4f9f4;
    font-family: "Baloo Bhai";
}

.card-col .p-card {
    
    margin-top: 30px;
    margin-left: 50px;
    width: 80%;
    font-size: clamp(14px, 3.4vw, 30px);
    color: #f4f9f4;
    font-weight: 400;
    font-family: "Montserrat";
}

.card-col .btn-card {
    
    margin-top: 30px;
    padding: 15px 10px;
    border-radius: 4px;
    border: none;
    font-size: clamp(14px, 3.4vw, 25px);
    margin-left: 50px;
    color: #6c9894;
    font-family: "Baloo Bhai";
    text-align: center;
}

.img-card {
    width: 100%;
    margin: 0 auto;
}



#card-2 .card2-row {

    display: flex;

}


.card2-row .card2-col1 {

    width: 50%;

}

.img-card1 {
    width: 70%;
    margin: 40px auto;
}

.card2-text {
    padding: 10px 0;
}

.card2-col1 .h2-card2 {
    
    margin-top: 100px;
    margin-left: 50px;
    font-size: clamp(20px, 6.7vw, 75px);
    color: #6c9894;
    font-family: "Baloo Bhai";
}

.card2-col1 .p-card2 {

    width: 80%;
    margin-left: 50px;
    margin-top: 30px;
    font-size: clamp(16px, 3.4vw, 30px);
    color: #6c9894;
    font-weight: 400;
    font-family: "Montserrat";
}

.card2-col1 .btn-card2 {
    
    margin-top: 30px;
    padding: 15px 10px;
    border-radius: 4px;
    border: none;
    font-size: clamp(16px, 3.4vw, 25px);
    margin-left: 50px;
    color: #f4f9f4;
    font-family: "Baloo Bhai";
    text-align: center;
    background-color: #6c9894;
}

#price {
    padding: 50px 0;
    background-color: #6c9894;

}

#price .title {
    padding-top: 20px
}

.title .h3-title {
    
    font-size: clamp(20px, 6.7vw, 75px);
    color: #f4f9f4;
    font-family: "Baloo Bhai";
    text-align: center;
}

.title .p-title {
    padding: 20px 0px;
    width: 60%;
    margin: 20px auto;
    font-size: clamp(16px, 3.4vw, 30px);
    color: #f4f9f4;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

#price .row-title {
    display: flex;
    gap: 20px;


}

.row-title .col-title {
    border: 2px solid;
    width: 33.33%;
    border-color: #f4f9f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;

    border-radius: 8px;
    background-color: #f4f9f4;
}

.col-title .h4-title {
    
    font-size: clamp(16px, 3.4vw, 37px);
    color: #6c9894;
    font-family: "Baloo Bhai";
    text-align: center;
}

.col-title .p1-title {
    
    font-size: clamp(14px, 3.4vw, 37px);
    color: #6c9894;
    font-family: "Baloo Bhai";
    text-align: center;
}

.col-title .img-title {
    padding: 20px 0px;
    

}

.col-title .p2-title {
    padding-bottom: 20px;
    width: 90%;
    font-size: clamp(14px, 3.4vw, 22px);
    color: #6c9894;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

.col-title .btn-title {
    padding: 10px 10px;
    
    background-color: #6c9894;
    font-size: clamp(14px, 3.4vw, 20px);
    color: #ffffff;
    font-family: "Baloo Bhai";
    text-align: center;
    border: none;
    width: 90%;
    border-radius: 4px;

}

#name {
    padding: 50px 0;
    background-image: url(/images/background\ 1.png);
}

.trainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.trainer .p-trainer {
    
    width: 90%;
    font-size: clamp(20px, 6.7vw, 58px);
    color: #6c9894;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

.trainer .h4-trainer {
    padding: 40px 0;
    font-size: clamp(20px, 6.7vw, 58px);
    color: #6c9894;
    font-family: "Baloo Bhai";
    text-align: center;
}

#update-subscribe {
    background-color: #6c9894;
    padding: 100PX 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1-update {
    padding: 30px 0px;
    font-size: clamp(20px, 6.7vw, 75px);
    color: #f4f9f4;
    font-family: "Baloo Bhai";
    text-align: center;
}

.p-update {


    width: 80%;
    font-size: clamp(16px, 6.7vw, 30px);
    color: #f4f9f4;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

.subscribe {

    
    padding: 30px 0;
    
}

.subscribe .email {
    background-color: #ffffff;
    
    font-size: clamp(16px, 1.7vw, 25px);
    color: #6c9894;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
    border-radius: 30px;
    border: none;
    padding: 5px 10px;
}

.subscribe-btn {

    border: none;
    transform: translateX(-50%);
    border-radius: 30px;
    font-size: clamp(16px, 1.7vw, 25px);
    color: #6c9894;
    font-family: "Baloo Bhai";
    text-align: center;
    padding: 5px 10px;
}

/* Footer starts */
#footer {
    background-color: white;
    color: #6c9894;
    padding: 50px 0;
}

.h4-footer {
    font-size: clamp(16px, 3.5vw, 33px);
    color: #6c9894;
    font-family: "Baloo Bhai";
}

#footer .row-foot {
    display: flex;
}

#footer .row-foot .col-4 {
    width: 40%;

}

#footer .row-foot .col-6 {
    width: 60%;

}

#footer .row-foot .col-6 .col {
    width: 33.33%;
}

.h2-footer {
    font-size: clamp(16px, 2vw, 29px);
    color: #6c9894;
    font-family: "Baloo Bhai";
}

.p-footer {
    width: 80%;
    margin: 20px 0;
    font-size: clamp(16px, 2vw, 25px);
    color: #6c9894;
    font-weight: 400;
    font-family: "Montserrat";
}

.ul-footer {
    list-style: none;
    margin: 20px 0;
}

.ul-footer .li-footer {
    margin: 10px 0;
}

.ul-footer .li-footer .a-footer {
    font-size: clamp(16px, 2vw, 33px);
    text-decoration: none;
    color: #6c9894;
    font-family: "Baloo Bhai";
}

.li-footer i {
    font-size: clamp(16px, 2vw, 25px);
    font-weight: 400;
    margin-right: 10px;
}