@media only screen and (max-width:1160px) {
    
}
@media only screen and (max-width:992px) {
    
}
/* tab */
@media only screen and (max-width:768px) {

    #header{
        background-size: cover;
    }

    .list{
        display: none;
    }

    #icon{
        display: block;
    }

    #header .row{
        display: block;
    }

    #classes .row-1 {
       flex-direction: column;
    }
    
    #classes .row-1 .card-col {
    
        width: 100%;
    }


    
     

}
@media only screen and (max-width:576px) {
    .header-content .btn-header {
        padding: 10px 30px;
    }
}