* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* HEADER START */

#header {
    /* background-image: url(/images/Design.png); */
    background-color: #f4f9f4;
}

.nav {
    /* background-color: #a7d7c5; */
    background-color: #6c9894;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.navbar .logo {
    width: 109px;
    background-color: #a7d7c5;
}

.nav .list {
    color: #444444;

}

.navbar .list .navlist {
    display: inline-block;
    margin: 0 20px;
    list-style: none;
}

.list .navlist .navlink {
    text-decoration: none;
    font-size: 21px;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-family: "Baloo Bhai";
}

.row {
    /* background-image: url(/images/Design.png);
    background-repeat: no-repeat; */
    display: flex;
    padding: 50px 0;
    /* background-size: 100% 100%; */
}

.col-1 {
    /* padding: 110px 125px; */
    background-size: 100% 100%;
    width: 50%;

}

.col-1 .img {

    margin: 0 auto;

}

.col-2 {
    width: 50%;

    text-align: center;
}

.col-2 .h2-col {
    padding-top: 35%;
    font-size: 60px;
    color: #6c9894;
    font-family: "Baloo Bhai";
}

.col-2 .p-col {
    padding: 20px 120px;
    font-size: 15px;
    color: #6c9894;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

.col-2 .btn-col {
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    font-size: 17px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fefefc;
    font-weight: 700;
    font-family: "Lato";
    background-color: #6c9894;
}

/* HEADER END */

/* SECTION START */

#classes {
    padding: 30px 0;
    background-color: #417d78;
}

/* .our-text {} */

.our-text .h2-text {
    padding: 50px 0;
    font-size: 75px;
    color: #f4f9f4;
    font-family: "Baloo Bhai";
    text-align: center;
}

.our-text .p-text {
    padding: 0px 250px;
    font-size: 30px;
    color: #f4f9f4;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

#classes .row-1 {

    display: flex;


}

#classes .row-1 .col {

    padding: 30px 0;

    width: 33.33%;
}

.col .our-img {
    background-image: url(/images/Design.png);

    background-repeat: no-repeat;

    margin: 40px 50px;
}

.col .our-h4 {

    font-size: 37px;
    color: #f4f9f4;
    font-family: "Baloo Bhai";
    text-align: center
}

.col .our-p {
    padding: 20px 50px;
    font-size: 22px;
    color: #f4f9f4;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

#stats {
    padding: 60px 0;
    background-image: url(/images/Background.png);
    background-repeat: no-repeat;
    background-size: auto;
}

/* .our-stats {} */

.our-stats .h2-stats {
    font-size: 75px;
    color: #6c9894;
    font-family: "Baloo Bhai";
    text-align: center
}

.our-stats .p-stats {
    padding: 30px 250px;
    font-size: 30px;
    color: #6c9894;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

#stats .stats-row {

    display: flex;
}

.stats-row .stats-col {

    width: 33.33%;
}


.stats-col {

    padding: 200px 0;


}



.stats-col .h3-stats {

    font-size: 67px;
    color: #6c9894;
    font-family: "Myriad Pro";
    text-align: center;
}

.stats-col .p-stat {
    padding: 0 100px;
    font-size: 27px;
    color: #6c9894;
    font-family: "Myriad Pro";
    text-align: center;
}

/* #card {} */

.card-row {

    display: flex;
}

.card-row .card-col {

    width: 50%;
    background-color: #6c9894;
}

.card-col .h2-card {
    padding-top: 300px;
    margin-left: 50px;
    font-size: 75px;
    color: #f4f9f4;
    font-family: "Baloo Bhai";
}

.card-col .p-card {
    padding: 40px 0;
    margin-left: 50px;
    font-size: 30px;
    color: #f4f9f4;
    font-weight: 400;
    font-family: "Montserrat";
}

.card-col .btn-card {
    /* padding-left: 50px; */
    padding: 15px 10px;
    border-radius: 4px;
    border: none;
    font-size: 25px;
    margin-left: 50px;
    color: #6c9894;
    font-family: "Baloo Bhai";
    text-align: center;
}

/* #card-2 {} */

.card2-row {

    display: flex;
}


.card2-row .card2-col {

    width: 50%;
    /* background-color: #6c9894; */
}


.card2-col1 {
    background-image: url(/images/Design.png);
    background-repeat: no-repeat;
    background-position: 400px;

}

.card2-col1 .h2-card2 {
    padding-top: 300px;
    margin-left: 50px;
    font-size: 75px;
    color: #6c9894;
    font-family: "Baloo Bhai";
}

.card2-col1 .p-card2 {
    padding: 40px 0;
    margin-left: 50px;

    font-size: 30px;
    color: #6c9894;
    font-weight: 400;
    font-family: "Montserrat";
}

.card2-col1 .btn-card2 {
    /* padding-left: 50px; */
    padding: 15px 10px;
    border-radius: 4px;
    border: none;
    font-size: 25px;
    margin-left: 50px;
    color: #f4f9f4;
    font-family: "Baloo Bhai";
    text-align: center;
    background-color: #6c9894;
}

#price {
    padding: 50px 0;
    background-color: #6c9894;

}

#price .title {
    padding-top: 20px
}

.title .h3-title {
    /* padding: 50px 0; */
    font-size: 75px;
    color: #f4f9f4;
    font-family: "Baloo Bhai";
    text-align: center;
}

.title .p-title {
    padding: 20px 250px;
    font-size: 30px;
    color: #f4f9f4;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

#price .row-title {
    display: flex;
    gap: 20px;


}

.row-title .col-title {
    border: 2px solid;
    width: 33.33%;
    border-color: #f4f9f4;
    ;
    padding: 10px 0;

    border-radius: 8px;
    background-color: #f4f9f4;
}

.col-title .h4-title {
    padding-top: 30px;
    font-size: 37px;
    color: #6c9894;
    font-family: "Baloo Bhai";
    text-align: center;
}

.col-title .p1-title {
    padding-top: 20px;
    font-size: 37px;
    color: #6c9894;
    font-family: "Baloo Bhai";
    text-align: center;
}

.col-title .img-title {
    /* padding: 0 140px; */
    margin: 20px 130px;

}

.col-title .p2-title {
    padding: 10px 50px;
    font-size: 22px;
    color: #6c9894;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

.col-title .btn-title {
    padding: 10px 10px;
    margin: 5px 100px;
    background-color: #6c9894;
    font-size: 20px;
    color: #ffffff;
    font-family: "Baloo Bhai";
    text-align: center;
    border: none;
    border-radius: 4px;

}

#name {
    padding: 50px 0;
    background-image: url(/images/background\ 1.png);
}

.trainer .img-trainer {
    padding: 20px 350px;
}

.trainer .p-trainer {
    padding: 10px 100px;
    font-size: 58px;
    color: #6c9894;
    font-weight: 400;
    font-family: "Montserrat";
    text-align: center;
}

.trainer .h4-trainer {
    padding: 20px 0;
    font-size: 58px;
    color: #6c9894;
    font-family: "Baloo Bhai";
    text-align: center;
}

/* SECTION END */